*,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fbb03b;
}

body .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

@media (min-width: 200px) and (max-width: 900px) {
  body .container {
    width: 100%;
    height: 80vh;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  body .container {
    width: 100%;
    height: 80vh;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

body .container h1 {
  color: #138073;
  position: absolute;
  top: -70px;
  right: 260px;
  font-size: 38px;
}

@media (min-width: 200px) and (max-width: 900px) {
  body .container h1 {
    position: absolute;
    top: -50px;
    right: 0;
    margin: 20px;
    font-size: 24px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  body .container h1 {
    position: absolute;
    top: -50px;
    right: 500px;
    margin: 20px;
    font-size: 24px;
  }
}

body .container p {
  color: #138073;
  font-size: 24px;
  margin: 5px;
  position: absolute;
  top: 200px;
  left: 40px;
}

@media (min-width: 200px) and (max-width: 900px) {
  body .container p {
    font-size: 14px;
    font-weight: 700;
    top: 260px;
    left: 20px;
    margin: 5px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  body .container p {
    font-size: 20px;
    font-weight: 700;
    top: 400px;
    left: 350px;
    margin: 5px;
  }
}

body .container .content {
  position: absolute;
  top: 250px;
}

@media (min-width: 200px) and (max-width: 900px) {
  body .container .content {
    text-align: center;
    height: 45%;
    right: 20px;
    top: 150px;
    font-size: 20px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  body .container .content {
    text-align: center;
    width: 100%;
    height: 60%;
    right: 20px;
    top: 150px;
    font-size: 20px;
  }
}

body .container .content .inp {
  width: 700px;
  height: 50px;
  margin: 10px;
}

@media (min-width: 200px) and (max-width: 900px) {
  body .container .content .inp {
    text-align: left;
    width: 300px;
    height: 20%;
    right: 20px;
    margin: 15px;
    font-size: 14px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  body .container .content .inp {
    text-align: left;
    width: 550px;
    height: 20%;
    right: 20px;
    margin: 15px;
    font-size: 14px;
  }
}

body .container .content .check {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}

@media (min-width: 200px) and (max-width: 900px) {
  body .container .content .check {
    width: 20px;
    height: 20px;
    left: 15px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  body .container .content .check {
    width: 20px;
    height: 20px;
    top: 410px;
    left: 320px;
  }
}

body .btn {
  position: absolute;
  left: 150px;
  top: 300px;
  width: 400px;
  height: 100px;
  color: white;
  font-size: 30px;
  background-color: #39b69f;
  border: 1px solid white;
}

@media (min-width: 200px) and (max-width: 900px) {
  body .btn {
    text-align: center;
    left: 13px;
    width: 300px;
    height: 20%;
    margin: 10px;
    font-size: 24px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  body .btn {
    text-align: center;
    top: 450px;
    left: 380px;
    width: 350px;
    height: 20%;
    margin: 10px;
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */